/* Contains selectors and rules with dynamically computed values. */

.root {
    -font-family: Times New Roman;
    -text-fill: black;
    -text-fill-desaturated: #383838;
    -window-fill: #D3D3D3;
    -document-fill: #F8F8F8;
    -document-fill-hover: #E8E8E8;
    -document-fill-light: #F5F5F5;
    -document-fill-lighter: #F0F0F0;
    -document-fill-lightest: #E8E8E8;
    -document-fill-dark: #F5F5F5;
    -document-fill-darker: #F0F0F0;
    -document-fill-darkest: #E8E8E8;
    -text-alignment: left;
    -paragraph-spacing: 50;
    -first-line-indent: 0;
    -line-spacing: 0.0;
}


/* document-wide rules */

.paragraph-text .text,
.menu-bar .text,
.status-bar .text {
    -fx-fill: -text-fill;
}

.styled-text-area .caret {
    -fx-stroke: -text-fill;
}

.selection {
    -fx-fill: -document-fill-hover;
}

.styled-text-area * {
    -fx-text-alignment: -text-alignment;
}

.paragraph-text {
    -fx-line-spacing: -line-spacing;
    -fx-padding: 0 0 20 0;
}

.caret {
    -fx-stroke: -fill;
}

/* token-specific rules */

.paragraph-text .text.comment {
    -fx-fill: -text-fill-desaturated;
}

.styled-text-area .h1, .styled-text-area .h2, .styled-text-area .h3, .styled-text-area .h4, .styled-text-area .h5, .styled-text-area .h6 {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.h1 {
    -fx-font-size: 1.6em;
}

.h2 {
    -fx-font-size: 1.5em;
}

.h3 {
    -fx-font-size: 1.4em;
}

.h4 {
    -fx-font-size: 1.3em;
}

.h5 {
    -fx-font-size: 1.2em;
}

.h6 {
    -fx-font-size: 1.1em;
}

/* gui rules */

.separator .line {
    -fx-border-color: -text-fill transparent transparent transparent;
    -fx-border-insets: 0;
}

.menu-button:hover, .menu-item:hover {
    -fx-background-color: -document-fill-hover;
}

.menu-bar, .menu-button, .status-bar, .menu-item, .menu .container {
    -fx-background-color: -document-fill-dark;
}

.status-bar .label {
    -fx-padding: 3px 6px;
}

.status-bar .label.clickable:hover {
    -fx-background-color: -document-fill-hover;
    -fx-cursor: hand;
}

.context-menu {
    -fx-font-size: 10pt;
    -fx-background-color: -document-fill-dark;
    -fx-background-radius: 0 0 6 6;
}

.context-menu * {
    -fx-fill: -text-fill;
    -fx-text-fill: -text-fill;
}

.scroll-bar, .track-background {
    -fx-background-color: transparent;
}

.thumb {
    width: 100%;
    -fx-background-color: -document-fill-lightest;
}

.thumb:hover, .scroll-bar.active .thumb {
    -fx-background-color: -document-fill-hover;
}

.increment-button, .decrement-button {
    -fx-height: 0.0;
    -fx-opacity: 0.0;
}

.popup-box {
    -fx-padding: 10px 20px;
    -fx-background-color: -document-fill-darker;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 20, 0, 3, 3);
}

.popup-box * {
    -fx-fill: -text-fill;
    -fx-text-fill: -text-fill;
}

.popup-box .text-field {
    -fx-font-size: 14pt;
    -fx-background-color: -document-fill-darkest;
}
