/* Contains selectors and rules with dynamically computed values. */

.root {
    -fill: black;
    -text-alignment: left;
    /* -paragraph-spacing: 50; */
    -line-spacing: 5;
}

.paragraph-text .text,
.menu-bar .text,
.status-bar .text {
    -fx-fill: -text-fill;
}

.separator .line {
    -fx-border-color: -text-fill transparent transparent transparent;
    -fx-border-insets: 0;
}

.styled-text-area .caret {
    -fx-stroke: -text-fill;
}

.selection {
    -fx-fill: -document-fill-hover;
}

.menu-bar, .menu-button, .menu-item, .menu .container, .status-bar {
    -fx-background-color: -document-fill;
}

.menu-button:hover, .menu-item:hover {
    -fx-background-color: -document-fill-hover;
}

.context-menu {
    -fx-background-color: -document-fill;
    -fx-background-radius: 0 0 6 6;
}

.styled-text-area * {
    -fx-text-alignment: -text-alignment;
}

.paragraph-text {
    -fx-line-spacing: -line-spacing;
    -fx-padding: 0 0 20 0;
}

.caret {
    -fx-stroke: -fill;
}